<script>
    // set data-href to all a elements
    for (const a of document.getElementsByTagName("a")) {
        a.dataset.href = a.attributes.href.nodeValue;
    }

    const open_regex = new RegExp(`"(.+)"`);

    for (const span of document.querySelectorAll("span[onclick]")) {
        let open_url = open_regex.exec(span.attributes.onclick.nodeValue)[1];

        span.setAttribute("title", open_url);
        span.addEventListener("mouseover", (e) => {
            const article_node = e.target.closest("a");
            article_node.href = open_url;
        });
        span.addEventListener("mouseout", (e) => {
            const article_node = e.target.closest("a");
            article_node.href = article_node.dataset.href;
        });
    }

    // resize featured div box when the text changes
    const article_text = document.querySelector("section > div:nth-child(2)");
    const featured_div = document.querySelector(".single_hero_basic");

    if (article_text) {
        new ResizeObserver((entries) => {
            for (const entry of entries) {
                // get element before paint
                const new_elem = entry?.contentBoxSize?.[0];
                if (new_elem) {
                    featured_div.style.width = `${new_elem.inlineSize}px`;
                }
            }
        }).observe(article_text);
    }

    // my own scroll blurring
    const BLUR_DIV = document.querySelector("#background-blur");
    const MENU = document.getElementById("menu-blur");
    const BG_DEFAULT_OPACITY = parseFloat(getComputedStyle(BLUR_DIV).opacity);
    const MN_DEFAULT_OPACITY = parseFloat(getComputedStyle(MENU).opacity);

    window.addEventListener("scroll", function (event) {
        const scroll = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
        BLUR_DIV.style.opacity = Math.min(1, Math.max(BG_DEFAULT_OPACITY, BG_DEFAULT_OPACITY + (scroll / 1000)));
        MENU.style.opacity = Math.min(1, Math.max(MN_DEFAULT_OPACITY, MN_DEFAULT_OPACITY + (scroll / 300)));
    }, { capture: true });

    // only for achievements page
    function toggle_achievement(event) {
        const span = event.target;
        const data_div = span.closest("div:has(div > h3)").querySelector("div.mb-6");

        const current_display = data_div.style.getPropertyValue("display");
        if (current_display === "") {
            data_div.style.setProperty("display", "revert");
            span.innerText = "⬆";
            span.setAttribute("title", "collapse");
        } else {
            data_div.style.removeProperty("display");
            span.innerText = "⬇";
            span.setAttribute("title", "expand");
        }
    }

    if (!document.getElementById("achievements_css").disabled) {
        for (const span of document.querySelectorAll("h3 > span")) {
            span.addEventListener("click", toggle_achievement);
            span.setAttribute("title", "expand");
        }
        // doesnt look well here
        document.getElementById("top-scroller").remove();
    }
</script>