{{ with .Params.defaultBackgroundImage }}
    {{ with resources.Get . }}
<link rel="preload" as="image" href="{{ .RelPermalink }}">
    {{ end }}
{{ end }}
{{ with resources.Get "css/home.css"  | resources.Fingerprint "sha512" }}
<link id="home_css" rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" disabled>
{{ end }}
{{ with resources.Get "css/about.css"  | resources.Fingerprint "sha512" }}
<link id="about_css" rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" disabled>
{{ end }}
<script>
    const path_to_id = {
        "/": "home_css",
        "/about/": "about_css",
    }
    path_to_id[location.pathname] && (document.getElementById(path_to_id[location.pathname]).disabled = false);
</script>