{{ with .Params.defaultBackgroundImage }}
    {{ with resources.Get . }}
<link rel="preload" as="image" href="{{ .RelPermalink }}">
    {{ end }}
{{ end }}
<link rel="preload" as="image" href="./featured.jpg">
<link rel="preload" as="image" href="./featured.png">
<link rel="preload" as="image" href="./featured.svg">

{{ with resources.Get "css/home.css"  | resources.Fingerprint "sha512" }}
<link id="home_css" rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" disabled>
{{ end }}
{{ with resources.Get "css/about.css"  | resources.Fingerprint "sha512" }}
<link id="about_css" rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" disabled>
{{ end }}
{{ with resources.Get "css/achievements.css"  | resources.Fingerprint "sha512" }}
<link id="achievements_css" rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" disabled>
{{ end }}
<script>
    const path_to_id = {
        "/": "home_css",
        "/about/": "about_css",
        "/achievements/": "achievements_css"
    }
    path_to_id[location.pathname] && (document.getElementById(path_to_id[location.pathname]).disabled = false);

    // very hacky way of removing the scroll listeners by the theme author...
    const og_event_adder = window.addEventListener;
    window.addEventListener = (type, listener, options) => {
        if (type === "scroll") {
            const line_2 = listener.toString().split("\n")[1]?.trimStart().startsWith("var");
            if (line_2 === true) {
                return;
            }
        }
        og_event_adder.apply(this, [type, listener, options]);
    }
</script>